

@font-face {
 font-family: 'noto-sans-scott';
 font-style: 100;
 src: url('#{$noto-sans-scott-dir-path}/NotoSansCJKkr-Thin.eot');
 src: url('#{$noto-sans-scott-dir-path}/NotoSansCJKkr-Thin.eot') format('embedded-opentype'),
 url('#{$noto-sans-scott-dir-path}/NotoSansCJKkr-Thin.woff') format('woff'),
 url('#{$noto-sans-scott-dir-path}/NotoSansCJKkr-Thin.otf') format('truetype');
}

@font-face {
 font-family: 'noto-sans-scott';
 font-style: 200;
 src: url('#{$noto-sans-scott-dir-path}/NotoSansCJKkr-Light.eot');
 src: url('#{$noto-sans-scott-dir-path}/NotoSansCJKkr-Light.eot') format('embedded-opentype'),
 url('#{$noto-sans-scott-dir-path}/NotoSansCJKkr-Light.woff') format('woff'),
 url('#{$noto-sans-scott-dir-path}/NotoSansCJKkr-Light.otf') format('truetype');
}

@font-face {
 font-family: 'noto-sans-scott';
 font-style: 300;
 src: url('#{$noto-sans-scott-dir-path}/NotoSansCJKkr-DemiLight.eot');
 src: url('#{$noto-sans-scott-dir-path}/NotoSansCJKkr-DemiLight.eot') format('embedded-opentype'),
 url('#{$noto-sans-scott-dir-path}/NotoSansCJKkr-DemiLight.woff') format('woff'),
 url('#{$noto-sans-scott-dir-path}/NotoSansCJKkr-DemiLight.otf') format('truetype');
}

@font-face {
 font-family: 'noto-sans-scott';
 font-style: 400;
 src: url('#{$noto-sans-scott-dir-path}/NotoSansCJKkr-Regular.eot');
 src: url('#{$noto-sans-scott-dir-path}/NotoSansCJKkr-Regular.eot') format('embedded-opentype'),
 url('#{$noto-sans-scott-dir-path}/NotoSansCJKkr-Regular.woff') format('woff'),
 url('#{$noto-sans-scott-dir-path}/NotoSansCJKkr-Regular.otf') format('truetype');
}

@font-face {
 font-family: 'noto-sans-scott';
 font-style: 500;
 src: url('#{$noto-sans-scott-dir-path}/NotoSansCJKkr-Medium.eot');
 src: url('#{$noto-sans-scott-dir-path}/NotoSansCJKkr-Medium.eot') format('embedded-opentype'),
 url('#{$noto-sans-scott-dir-path}/NotoSansCJKkr-Medium.woff') format('woff'),
 url('#{$noto-sans-scott-dir-path}/NotoSansCJKkr-Medium.otf') format('truetype');
}

@font-face {
 font-family: 'noto-sans-scott';
 font-style: 700;
 src: url('#{$noto-sans-scott-dir-path}/NotoSansCJKkr-Black.eot');
 src: url('#{$noto-sans-scott-dir-path}/NotoSansCJKkr-Black.eot') format('embedded-opentype'),
 url('#{$noto-sans-scott-dir-path}/NotoSansCJKkr-Black.woff') format('woff'),
 url('#{$noto-sans-scott-dir-path}/NotoSansCJKkr-Black.otf') format('truetype');
}

@font-face {
 font-family: 'noto-sans-scott';
 font-style: 900;
 src: url('#{$noto-sans-scott-dir-path}/NotoSansCJKkr-Bold.eot');
 src: url('#{$noto-sans-scott-dir-path}/NotoSansCJKkr-Bold.eot') format('embedded-opentype'),
 url('#{$noto-sans-scott-dir-path}/NotoSansCJKkr-Bold.woff') format('woff'),
 url('#{$noto-sans-scott-dir-path}/NotoSansCJKkr-Bold.otf') format('truetype');
}